# Maven
target/
*.class
*.jar

# Playwright
playwright-report/
test-results/
trace.zip

# Logs
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Node (Playwright Java uses Node internally)
node_modules/